{% extends 'blog/basic.html' %}

{%block title%} Blog - About {%endblock%}

{% block body %}

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Blog!</h1>
      <p>
        My Awesome Blog is a free website builder that can be totally managed from the front-end. The main characteristic of this platform is that it comes with drag-and-drop options, so you don’t have to handle anything in the back-end. The design is very intuitive and modern, which can be used by both beginners and advanced.
The nice thing about My Awesome Blog is that it has free hosting included, so you just need to arrange the layouts, pick a template, and you’re all set. It provides a nice collection of free and premium themes and templates for different purposes, including blogging.

To launch a My Awesome Blog blog, just sign up and make a choice: you can either let the My Awesome Blog AI create a site for you based on a questionnaire or build your blog yourself – which includes selecting a template and arranging the layouts via the WYSIWYG editor. If you go with the second option, all you need to do is to find a beautiful template and start customizing everything on the front-end, in a live preview mode.

You can add multiple elements to your pages, from multimedia widgets to backgrounds, menus, typography, forms, video boxes etc. When you think the site is ready, click Publish and start blogging your stories. After publishing, you can return anytime to edit the content blocks.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button"
          >Learn more »</a
        >
      </p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus. Etiam porta sem malesuada magna mollis
          euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus. Etiam porta sem malesuada magna mollis
          euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
          dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
          fermentum massa justo sit amet risus.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details »</a>
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>

{% endblock body %}