<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <title>
    {%block title %} {% endblock %}</title>

  <style>
    {%block css %}

    {% endblock%}
  </style>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'blogHome'%}">My Awesome Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blogHome'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blogAbout'%}">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/">Shop</a>
        </li>
      </ul>

      {% comment %} navbar right side {% endcomment %}
      <ul class="navbar-nav ml-auto"> 
      {% comment %} checking if user logged in or not {% endcomment %}
      {%if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'postCreate_form' %}">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
      {% endif %}
      </ul>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-8">
      {% if messages %}
      {%for message in messages%}
      <div class="alert alert-{{message.tags}}">{{ message }}</div>
      {%endfor%}
      {%endif%}
        {% block body %} {% endblock %}
      </div>
      <span class="border mt-3" style="padding:10px; height:350px;">
        <div class="col">
          <h2 style="width: 18rem;">
            Our Slidebar
          </h2>
          <p style="width: 18rem;"> You can put any information here you'd like</p>
          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcments</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc.</li>
            </ul>
          </div>
        </div>
      </span>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  {%block js%}{%endblock%}
</body>

</html>